* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chats{
    color: khaki;
    text-align: center;
    font-family: fantasy;
    border-bottom: 5px solid lightpink;
}

.background-image {
    background-image:  linear-gradient(
        rgba(208, 192, 192, 0.6), 
        rgba(214, 214, 214, 0.6)
      ),
    url(https://i.f1g.fr/media/cms/3000x2001_crop/2021/10/21/0977e1ff463de84169617cccfdcc54f1da8fdae0edb7bb8e7d51a575d9343f65.jpg);
    background-size: 90% 100%;
    padding-bottom: 200px;
}

.races{
    color: papayawhip;
    font-size: xx-large;
    font-style: italic;
    font-family: Snell Roundhand, cursive;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 60px;
    padding-top: 60px;
}

 p{ 
    font-family: URW Chancery L, cursive;
    font-size: large;
    font-style: oblique;

}    
     
.active {
    background-color: papayawhip;
    color: black;
}

ul {
    list-style-type: none;
    background-color: #f1f1f1;
    width: 30%;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 0px 8px 12px;;
    height: 100%;
    width: 100%;
}

li a:hover {
    background-color: #555;
    color: white;
}


.box-left, .box-right {
    width: 30%;
    display: inline-block;
    height: 400px;
    vertical-align: middle;
    text-align: center;
    margin: 0 9.90% ;
}

.histoire {
    height: 300px;
}

i {
    color: yellow;
    margin-right: 10px;
}